* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1920px;
    max-height: 1960px;
    background: #e28282;
    box-sizing: border-box;
}

.vertical-menu {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    
}

.vertical-menu header {
    /* background-color: #153b15; */
    max-width: 239px;
    display: inline-flex;
    margin-top: 21px;
    margin-left: 23px;
    margin-bottom: 16px;
}

.vertical-menu header h {
    padding-left: 10px;
    padding-right: 89px;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    color: #7e72f2;
}

.vertical-menu div {
    margin-left: 24px;
    /* font-family: 'Montserrat', sans-serif; */
    line-height: 40px;
}

.vertical-menu select {
    width: 236px;
    height: 36px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.vertical-menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 37px;
    list-style: none;

}

.vertical-menu ul h {
    line-height: 36px;
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
}

.vertical-menu li img {
    margin-right: 11px;
}

.vertical-menu a {
    line-height: 40px;
    text-decoration: none;
    color: #2c2c2c;
}
   
